.footer {
  margin-top: 40px;
  &__top {
    display: flex;
    align-items: center;
    padding-left: 60px;
    padding-right: 60px;
    justify-content: space-between;
    background-color: #ca529a;
    height: 80px;

    &_social {
      display: flex;
      gap: 15px;
      cursor: pointer;
    }
    &_nav {
      display: flex;
      gap: 15px;

      a,
      h3 {
        text-decoration: none;
        font-weight: normal;
      }
    }
  }

  &__bottom {
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
