.header {
  display: flex;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 15px;
  align-items: center;

  &__nav {
    margin-left: 109px;
    display: flex;
    gap: 20px;

    h3,
    a {
      font-weight: normal;
      text-decoration: none;
      width: 110px;
    }
  }

  &__user {
    margin-left: 700px;
  }
}
