.header {
  display: flex;
  padding-left: 60px;
  padding-right: 60px;
  padding-top: 15px;
  align-items: center;
  justify-content: space-between;

  .logo{
    
  }

  &__nav {
    // margin-left: 109px;
    display: flex;
    gap: 20px;

    h3,
    a {
      font-weight: normal;
      text-decoration: none;
      white-space: nowrap;
      // width: 110px;
    }
  }
}
