.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  border-radius: 5px;
  max-width: 1324px;
  position: relative;
  color: white;
  border: 1px solid rgba(202, 82, 154, 0.2);
}

.modal-text-content {
  width: 537px;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  justify-content: center;
  margin-right: 63px;
  margin-left: 63px;
}

.modal-close-button {
  position: absolute;
  width: 50px !important;
  height: 50px !important;
  background-color: transparent !important;
  top: 0px;
  right: 0px;
  background: none;
  border: none !important;
  cursor: pointer;
  z-index: 1;
}

.modal-close-button img {
  width: 20px;
  height: 20px;
}
