.listt {
  display: grid;
  grid-template-columns: repeat(5, 244px);
  column-gap: 25px;
  row-gap: 30px;
  &__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;

    img {
      width: 244px;
      height: 302px;
    }

    &_btn {
      margin-top: 18px;
      width: 177px;
      height: 50px;
      background: linear-gradient(45deg, #ca529a, #257ea8);
      border-radius: 30px;
      cursor: pointer;

      h3 {
        text-transform: uppercase;
        font-weight: normal;
      }
    }
  }
}
